@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.w3-bar {background-color: #73a942; color:white;}


.intro {
    width: 100%;
    position: relative;
}

.intro img {
    width:100%;
    height: 30%
}

.presentation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation h1 {
    font-family: 'Sacramento';
    font-size: 6vw;
    margin: 0px;
    text-align: center;
    padding: 0px;
}

.bug {
    position: absolute;
    width: 2%;
    top: 50%;
    animation: fly;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform: translateX(0px) translateY(0px) rotate(30deg);
    position: fixed;
    z-index: 9999;
}

p{
    text-align: center;
    margin: 0;
    position: fixed;
    z-index: 9999;
    transform: translateX(-400px) translateY(-400px)
}


 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */

    @keyframes fly {
        0% { top: 3.5vw; left: 0vw; }
        100% { top: 14.7vw; left: 61.7vw; }
      }

    /* lineup class and keyframes */
.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
    
